/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}


body {
	font-family:verdana;
	margin:0;
	padding:0;
}

div.content,footer {
	padding:10px;
}
header {
	background-color: #000066;
	color:white;
	padding: 10px 10px 0 10px;
}
header div.login {
	float:right;
}
header h2, header h4 {
	margin:0;
}
header a {
	color:white;
	text-decoration:none;
}
header a:hover {
	color:cyan;
	text-decoration:underline;
}
header div.tabs {
	margin-top:3px;
}
header div.tabs a {
	background-color:gray;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	padding: 0 8px;
}
header div.tabs a.selected {
	background-color:silver;
}
div.intro {
	background-color:#eee;
	padding:5px;
	border-radius:15px;
}
div.statbar {
	background-color:#eee;margin:6px;padding:3px;border:1px solid silver;border-radius:10px;text-align:center;
}
div.statbar div.source {
	font-style:italic;
	font-size:0.8em;
	margin-top:10px;
}
div.submission_prompt {
	padding-left:50%;
	text-align:right;
	font-size:0.8em;
}
div.sidebar {
	float:left;
	padding-right:5px;
	border-right:1px solid gray;
	margin-right:15px;
}

div.thumb {
	width:120px;
	height:120px;
	float:left;
}
div.thumbmed {
	width:233px;
	height:160px;
	float:left;
}
div.imagerow div.data {
	float:left;
	padding-left:10px;
}

div.tags a {
	background-color:silver;
	white-space:nowrap;
	border-radius:3px;
	padding:2px;
	margin:2px;
	color:blue;
	text-decoration:none;
	line-height:1.5em;
}

h4.group {
	clear:both;
	border-top:10px solid white;
	background-color:#eee;
	padding:4px;
}

ol.stats {
	margin-left:60px;
}

.clear {
	clear:both;
}


footer {
        background-color: #000066;
        color:white;
        padding: 3px 10px 10px 10px;
}
footer a {
	padding-right:5px;
	border-right:1px solid gray;
        margin-right:5px;
	color:white;
	text-decoration:none;
}
footer credit {
	text-align:right;
	display:block;
	font-style:italic;
	color:silver;
	font-size:0.8em;
}
div.footertext {
	text-align:center;
	font-size:0.8em;
	color:gray;
}
div.footertext a {
	color:gray;
}
div.warning {
	background-color:yellow;
	border:1px solid silver;
	margin:10px;
	padding:10px;
}
